.box {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}

header {
    height: 350px;
}

header img {
    width: 100%;
    height: 100%;
}

/*  */
article {
    width: 30%;
    height: 650px;
    background-color: gray;
    float: left;
}

article ul {
    padding: 0;
    margin: 0;
}

article ul li {
    display: block;
    text-align: center;
    padding: 15px;
    background-color: rgb(9, 9, 83);
    border: 0.5px solid white;

}

article ul li a {
    text-decoration: none;
    color: #fff;

}

/*  */
nav {
    width: 70%;
    height: 50px;
    background-color: rgb(9, 9, 83);
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
}

nav ul li a {
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    line-height: 40px;
}

/*  */
aside {
    width: 70%;
    height: 650px;
    float: right;
}


.footer {
    width: 400px;
    height: 120px;
    background-color: rgb(9, 9, 83);
    color: #fff;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    text-align: center;
    margin: auto;
    
}

.image img{
    width: 400px;
    height: 400px;
    padding-top: 10px;
    padding-left: 250px;
}